<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creat component</title>
</head>
<body>
    <input type="text" id="name"><br>
    <textarea id="params" cols="30" rows="10"></textarea><br>
    <textarea id="hbs" cols="30" rows="10"></textarea><br>
    <textarea id="styles" cols="30" rows="10"></textarea><br>
    <button id="create_btn">Create component</button><br>
    

    <script src="createComponent.js"></script>
    
</body>
</html>
